.input-collection {
    list-style: none;
    margin: 0;
    padding: 0;
}

.input-collection li + li {
    margin-top: 5px;
}

.input-merged input,
.input-merged select {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.input-merged input + *,
.input-merged select + * {
    margin-left: 10px;
}

.input-merged input { border-bottom: 1px solid #999; }
.input-merged select { width: 75px; }
