{% extends "layout.html.twig" %}

{% form_theme form "form/horizontal.html.twig" %}

{% block content %}
    <div class="container">
      <div class="row-fluid">
        <div class="span6 pull-both">
          {{ form(form) }}
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
{{ parent() }}
    <script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/input-add.js"></script>
{% endblock %}
