<!DOCTYPE html>
<html>
  <head>
{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
    <title>{% block title %}Example{% endblock %}</title>
{% block stylesheets %}
    <link href="{{ app.request.baseUrl }}/assets/css/styles.min.css" rel="stylesheet" media="screen">
    <!--[if IE 7]>
      <link href="{{ app.request.baseUrl }}/assets/css/ie7.min.css" rel="stylesheet" media="screen">
    <![endif]-->
{% endblock %}
  </head>
  <body>
{% block content %}
    <h1>This is the default layout template.</h1>
{% endblock %}
{% block scripts %}
    <script src="{{ app.request.baseUrl }}/assets/js/scripts.min.js"></script>
{% endblock %}
  </body>
</html>
